{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true,
    "es6": true,
    "jsx": true,
    "browser": true
  },
  "rules": {
    "no-param-reassign": 0,
    "object-curly-spacing": 2,
    "max-len": ["error", 120],
    "id-length": [
      2, {"min": 2, "properties": "never", "exceptions": ["x", "n", "i", "e", "$", "_", "g", "A"]}
    ],
    "global-require": 0
  },
  "settings": {
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "webpack": {
        "config": "webpack/dev.config.babel"
      }
    }
  },
  "globals": {
    "document": true
  }
}
