.header {
  margin: 10px 0 0;
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;

  &__link {
    font-size: 1.8em;
    color: #3572B0;
    display: inline-block;
    margin: 0 10px 0 0;
    text-decoration: none;

    &:hover {
      color: #CCCCCC;
    }

    &_active {
      text-decoration: underline;
    }
  }
}