.header {
  margin: 10px 0 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.link {
  font-size: 1.8em;
  color: #3572b0;
  display: inline-block;
  margin: 0 10px 0 0;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }
}

.link_active {
  text-decoration: underline;
}